<!DOCTYPE html>
<html>
​

<head>
    <title>Mozingo Lake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
​

<body>
    <header>
        <!-- Navbar -->
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <div>
                <a class="profileName" href="#">Ashley</a>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <!-- Navbar END -->
        <div align="center">
            <img class="img-fluid" width="218" height="124" src="/images/logo.png" alt="logo">
        </div>
    </header>
    <div align="center">
        <h2>Welcome to Dashboard</h2>
        <a href="/">Logout</a>
    </div>
</body>

</html>