<html>

<head>
    <title>Mozingo Lake</title>
</head>

<body>
    <form method="POST" action="/user/login">
        <div class="container">
            <label for="username">
                <b>Username</b>
            </label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password">
                <b>Password</b>
            </label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>